<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <a href="/agenda"> <button class="btn btn-primary">Regresar</button></a>
            </div>
        </div>
        <br>
        <div>
            <form method="post" action="/agenda">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nombre del contacto</label>
                    <input type="text" class="form-control" name="nombre" />
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Apellido del contacto</label>
                    <input type="text" class="form-control" name="pellido" />
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Correo del contacto</label>
                    <input type="email" class="form-control" name="correo" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Teléfono del contacto</label>
                    <input type="number" class="form-control" name="tel" id="tel" placeholder="0000000">
                </div>
                <div class="mb-3 d-flex justify-content-end">
                    <input type="submit" value="Guardar" class="btn btn-primary">
                </div>
            </form>
        </div>

    </div>

</body>

</html>